{{ define "main" }}

<section class="list">
    <h1 class="title">Tags</h1>

    {{ range $taxonomyname, $taxonomy := .Site.Taxonomies.tags}}
        <a class="item" href="{{ "/tags/#" | relLangURL}}{{ $taxonomyname | urlize }}"> {{ $taxonomyname }}</a>
    {{ end }}

</section>

<hr>

<section class="tag-list">
    {{ range $taxonomyname, $taxonomy := .Site.Taxonomies.tags}}
        <h2 class="title" id="{{ $taxonomyname | urlize }}">#{{ $taxonomyname }}</h2>


        <ul class="list">
            {{ range $key, $value := $taxonomy }}
            <li class="item">
                <a class="url" href="{{ .Permalink }}">
                <aside class="date"><time datetime="{{ .Date.Format "2006-01-02" }}">{{ .Date.Format "2006-01-02" }}</time></aside>
                <h3 class="title">{{ .LinkTitle }}</h3>
                </a>
            </li>
            {{ end }}
        </ul>

        <div class="breaker"></div>
    {{ end }}
</section>

{{ end }}