<meta property="og:site_name" content="{{ .Site.Title }}">
<meta property="og:type" content="article">
{{ if .Params.image }}
<meta property="og:image" content="{{ .Site.BaseURL }}{{ .Params.image }}">
{{ else }}
<meta property="og:image" content="{{ .Site.BaseURL }}{{ .Site.Params.header_image }}">
{{ end }}
{{ if .Params.title }}
<meta property="og:title" content="{{ .Params.title }}" />
{{ else }}
<meta property="og:title" content="{{ .Site.Params.title }}" />
{{ end }}
{{ if .Params.description }}
<meta property="og:description" content="{{ .Params.description }}" />
{{ else }}
<meta property="og:description" content="{{ .Site.Params.description }}" />
{{ end }}