body {
    font-family: -apple-system, BlinkMacSystemFont, "Helvetica Neue", "Apple SD Gothic Neo", "Malgun Gothic", "맑은 고딕", 나눔고딕, "Nanum Gothic", "Noto Sans KR", "Noto Sans CJK KR", arial, 돋움, Dotum, Tahoma, Geneva, sans-serif;
    -webkit-font-smoothing: antialiased;
}
.site-heading a {
    color:white;
    text-decoration: none;
}
.about img { width:50%}
/**
모바일에서는 포스트 썸네일을 글 목록에서 노출하지 않음
 */
@media only screen and (max-width: 600px) {
    .post-preview figure.post-list-thumb {
        display:none;
    }
}

@media only screen and (min-width: 768px) {
    .intro-header .site-heading, .intro-header .post-heading, .intro-header .page-heading {
        padding: 80px 0 60px;
    }
}

.post-preview figure.post-list-thumb {
    float: right;
    overflow: hidden;
    max-width: 148px;
    margin-left: 40px;
}

/*.post-preview figure.post-list-thumb img{*/
/*    margin : 0 auto;*/
/*}*/

.intro-header .post-heading h1 {
    word-break: keep-all;
}

.post-preview span.post-list-summary {
    display: block;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
    font-size: 0.9375em;
    line-height: 1.6;
    color: #666;
}

.post-preview>.post-meta {margin-top:5px;}

.post-list-summary h1{font-size:18px}

.toc {
    margin: 0 2px 40px;
    border: 1px solid #eee;
    background: #eee;
    border-radius: 8px;
    padding: .4em;
}

.toc .details {
    display: inline;
    font-weight: 500;
}

.toc summary:focus {
    outline: 0;
}

.toc details[open] summary {
    cursor: zoom-out;
}

.toc details summary {
    cursor: zoom-in;
    margin-inline-start: 20px;
}

.toc details[open] summary {
    cursor: zoom-out;
}

.toc details summary {
    cursor: zoom-in;
    margin-inline-start: 20px;
}

.toc .details {
    display: inline;
    font-weight: bold;
}

.toc a { color:#404040;}

.toc details ul {
    margin-bottom:0;
}

.hide {
    border: 0;
    text-shadow: none;
    color: transparent;
    background-color: transparent;
}

.field {
    clear: both;
    padding-bottom: 1em;
}

#search {
    position: absolute;
    top: 15px;
    left: 20px;
}
#search i {
    color: #fff;
    font-size: 16px;
    vertical-align: middle;
    position: absolute;
    top: 6px;
    left: 7px;
}
#search input {
    padding: 0 5px 0 28px;
    border: 0;
    font-size: 15px;
    width: 150px;
    background-color: rgba(255, 255, 255, .3);
    color: #fff;
    border-radius: 10px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
}

.fuse-search-box {
    max-width: 100%;
    margin-bottom: 15px;
}

[class^=fuse-], [class^=fuse-]>*, [class^=fuse-]>::after, [class^=fuse-]>::before {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
.fuse-search-box {
    display: inline-block;
    position: relative;
    height: 46px;
    white-space: nowrap;
    font-size: 14px;
}
.fuse-search-box {
    position: relative;
    max-width: 100%;
    width: 100%;
}

.fuse-search-box--input {
    padding-left: 24px;
    height: 100%;
    width: 100%;
}

.fuse-search-box--loading-indicator-wrapper, .fuse-search-box--magnifier {
    fill: #bfc7d8;
    left: 12px;
    top: calc(50% - 18px/2);
}
.fuse-search-box--loading-indicator-wrapper, .fuse-search-box--magnifier, .fuse-search-box--reset {
    background: 0 0;
    position: absolute;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.fuse-search-box--magnifier {
    top: 13px;
    left: 7px;
}

.fuse-search-box--loading-indicator-wrapper svg, .fuse-search-box--magnifier svg {
    height: 18px;
    width: 18px;
    vertical-align: middle;
}
.fuse-search-box--magnifier svg {
    display: block;
}

.search_tags {
    padding-left:5px;
}

.post-container img {margin-bottom: 0}
.post-container dd { line-height: 1.7}