body {
    font-family: "Apple SD Gothic Neo", AppleSDGothicNeo, "Malgun Gothic", "맑은 고딕", 돋움, dotum, arial, sans-serif;
}
.site-heading a {
    color:white;
    text-decoration: none;
}
.about img { width:50%}
.post-preview figure.post-list-thumb {
    float: right;
    overflow: hidden;
    max-width: 148px;
    margin-left: 40px;
}

/*.post-preview figure.post-list-thumb img{*/
/*    margin : 0 auto;*/
/*}*/

.post-preview span.post-list-summary {
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
    font-size: 0.9375em;
    line-height: 1.6;
    color: #666;
}

.post-preview>.post-meta {margin-top:5px;}

.post-list-summary h1{font-size:18px}

.toc {
    margin: 0 2px 40px;
    border: 1px solid #eee;
    background: #eee;
    border-radius: 8px;
    padding: .4em;
}

.toc .details {
    display: inline;
    font-weight: 500;
}

.toc summary:focus {
    outline: 0;
}

.toc details[open] summary {
    cursor: zoom-out;
}

.toc details summary {
    cursor: zoom-in;
    margin-inline-start: 20px;
}

.toc details[open] summary {
    cursor: zoom-out;
}

.toc details summary {
    cursor: zoom-in;
    margin-inline-start: 20px;
}

.toc .details {
    display: inline;
    font-weight: bold;
}

.toc a { color:#404040;}

.toc details ul {
    margin-bottom:0;
}