<article class="post-list">
<header class="entry-header">
    <div class="entry-header-wrap">
        {{ if .Params.Image }}
        <a href="{{ .Site.BaseURL }}{{ .URL }}" class="post-thumbnail"><img style="max-width:100%" src="{{ .Params.post.image }}" alt="{% if post.image_alt %}{{ .Params.post.image_alt }}{% else %}{{ .Params.post.title }} {% endif %}"></a>
        {{ end }}
        <h2 class="entry-title"><a href="{{ .Site.BaseURL }}{{ .Page.URL }}" rel="bookmark" title="Permanent Link to {{ .Site.BaseURL }}{{ .Params.post.url }}">{{ .Params.post.title}}</a></h2>
    </div><!-- .entry-header-wrap -->
<div class="entry-meta">
    by <span class="post-author">{{ .Params.AuthorName }}</span> on <time class="published" datetime="{{ .Params.post.date }}">{{ .Params.post.date }}</time>
</div><!-- .entry-meta -->
</header><!-- .entry-header -->
<div class="entry-content">
    {% if post.content contains '<!--more-->' %}
{{/*{{ .Params.post.content | split:'<!--more-->' | first }}*/}}
    {% else %}
{{ .Params.post.content }}
    {% endif %}
<p class="read-more"><a href="{{ .Site.BaseURL }}{{ .Params.post.url }}" class="more-link" title="read more">read more</a></p>
</div><!-- .entry-content -->
    {% if .Params.post.tags.size > 0 %}
<footer class="entry-footer">
<div class="tag-links">
    Tags: {% for tag in .Params.post.tags %}<a href="{{ .Site.BaseURL }}/tags/index.html#{{ .Params.tag }}" title="Pages tagged {{ .Params.tag }}" rel="tag">{{ .Params.tag }}</a>{% unless forloop.last %} {% endunless %}{% endfor %}
</div>
</footer><!-- .entry-footer -->
    {% endif %}
</article><!-- .post -->
