<!-- post list -->
{{ range $index, $element := $.Paginator.Pages }}
<div class="post-preview">
    <a href="{{ .Permalink }}">
        <h2 class="post-title">
            {{ .Title }}
        </h2>
        {{ if .Params.image }}
        <figure class="post-list-thumb">
            <img src="{{ .Params.image | relURL }}" alt="" >
        </figure>
        {{ end }}

        <span class="post-list-summary">
            <p>{{ .Summary}}</p>
        </span>
        <p class="post-meta">
        {{ .Date.Format "2006-01-02" }}
        <!-- Don't show "Last Modified on" if update happened on the same day. -->
        {{ if (and (not .Lastmod.IsZero) (not (eq (dateFormat "2006-01-02" .Lastmod) (dateFormat "2006-01-02" .Date)))) }}
        <br>Last Modified on {{ dateFormat "Monday, January 2, 2006" .Params.LastMod }}
        {{ end }}
        </p>
    </a>
</div>
<hr>
{{ end }}
